* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background: #ececec;
}

.navbar {
    height: 80px;
    background-color: #808080;
    display: flex;
    align-items: center;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 50px;
}

.navbar__logo {
    color: #FF629D;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu--link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
}

.navbar__menu--button--link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
    padding: 15px;
    background-color: #385170;
}

.main {
    display: flex;
    justify-content: center;
}

.main__container {
    margin: 50px 0;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    font-size: 80px;
}

.main__subtitle {
    margin-bottom: 10px;
}

.main__description {
    max-width: 700px;
    margin-bottom: 20px;
    color: #FF629D
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #808080;
}